
@{
    ViewBag.Title = "Tạ Đình Thành Doanh - Index";
}

<h2>Tạ Đình Thành Doanh - Index</h2>

<h3>Hiện dữ liệu từ Action trong Controller</h3>
<h4>Full Name : @ViewBag.name</h4>
<h4>Ngày sinh : @ViewData["Birthday"]</h4>
<h4>Số điện thoại : @TempData["Phone"]</h4>
