@{
    ViewBag.Title = "Thông tin";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f2f2f2;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            text-align: center;
            color: #333;
        }

        p {
            text-align: justify;
            line-height: 1.6;
            color: #666;
        }

        .university-image {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>VỀ TRƯỜNG ĐẠI HỌC NGUYỄN TRÃI</h1>
        <p>
            Kim chỉ nam của Trường Đại học Nguyễn Trãi là phát triển nhanh, bền vững, gắn kết chặt chẽ với doanh nghiệp, năng động, sáng tạo và đổi mới tư duy. “Nguyễn Trãi – Khát vọng tuổi thanh xuân” là động lực truyền cảm hứng để Nhà trường thực hiện thành công 3 nhất sau đây:

            Một là, Sinh viên hài lòng nhất về Nhà trường và có thu nhập cao sau khi ra trường; cán bộ, giảng viên, các nhà nghiên cứu hài lòng nhất về thu nhập khi công tác tại trường.

            Hai là, Thành lập được nhiều nhất các doanh nghiệp, trung tâm, viện thuộc Trường. Đây là nơi giúp sinh viên có thể hiện thực hoá khát vọng tuổi thanh xuân, khát vọng khởi nghiệp làm giàu trên quê hương mình.

            Ba là, Kết nạp Đảng cho nhiều sinh viên nhất đã phấn đấu, học tập, rèn luyện, có lý tưởng trở thành công dân có ích cho xã hội.
        </p>
        <img src="~/Models/co-so-1-truong-dai-hoc-nguyen-trai-7290.jpg" alt="University Image" class="university-image">
        <p>
            Sứ mệnh: Trường Đại học Nguyễn Trãi là trường đại học tiên phong “Đổi mới sáng tạo” và “Khởi nghiệp”, nghiên cứu, phát triển, triển khai ứng dụng khoa học công nghệ, đào tạo “công dân toàn cầu” theo định hướng nghề nghiệp, cung cấp nguồn nhân lực đáp ứng yêu cầu phát triển kinh tế – xã hội của đất nước và các tập đoàn đa quốc gia.

            Tầm nhìn: Phấn đấu xây dựng, phát triển Trường Đại học Nguyễn Trãi trở thành Đại học Nguyễn Trãi với các trường thành viên, thực hiện sứ mạng của một trung tâm đào tạo đại học và sau đại học đa ngành, chất lượng cao, đạt chuẩn quốc tế tại Thủ đô Hà Nội, góp phần vào sự phát triển nền kinh tế tri thức trong nước và toàn cầu.

            Giá trị cốt lõi: Chất lượng cao – Sáng tạo – Trách nhiệm – Phát triển bền vững.
        </p>
        <img src="~/Models/ali.jpg" alt="University Image" class="university-image">
    </div>
</body>
</html>
