
@{
    ViewBag.Title = "Liên hệ";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f2f2f2;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            text-align: center;
            color: #333;
        }

        p {
            text-align: justify;
            line-height: 1.6;
            color: #666;
        }

        .contact-info {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #ccc;
        }

            .contact-info h3 {
                color: #333;
            }

            .contact-info p {
                margin-bottom: 10px;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Liên hệ</h1>
        <p>Họ và tên: Tạ Đình Thành Doanh</p>

        <div class="contact-info">
            <h3>MSSV:2210900096</h3>
        </div>

        <div class="contact-info">
            <h3>Email</h3>
            <p>doanhdoe@gmail.com</p>
        </div>

        <div class="contact-info">
            <h3>Phone</h3>
            <p>0967055032</p>
        </div>

        <div class="contact-info">
            <h3>GitHub</h3>
            <p>https://github.com/CatchTheRainbow04</p>
        </div>
    </div>
</body>
</html>


