
@{
    ViewBag.Title = "Trang chủ";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu về Trường Đại học Nguyễn Trãi</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .container {
            width: 80%;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            text-align: center;
            color: #333;
        }

        p {
            text-align: justify;
            line-height: 1.6;
            color: #666;
        }
        .school-image {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Chào mừng bạn đến với Trường Đại học Nguyễn Trãi</h1>
        <p>
            VỀ TRƯỜNG ĐẠI HỌC NGUYỄN TRÃI

            Trường Đại học Nguyễn Trãi được thành lập theo Quyết định số 183/QĐ-TTg ngày 05/02/2008 của Thủ tướng Chính phủ và chịu sự quản lý Nhà nước về giáo dục của Bộ Giáo dục và Đào tạo.

            Trường Đại học Nguyễn Trãi tự hào mang tên Đại anh hùng dân tộc Nguyễn Trãi, một danh nhân toàn tài kiệt xuất trong lịch sử dân tộc Việt Nam, đã được UNESCO công nhận “Danh nhân văn hóa Thế giới”. Mục tiêu của Trường Đại học Nguyễn Trãi sẽ trở thành một trong những trường Đại học đứng đầu của Việt Nam và khu vực thông qua liên kết đào tạo hiệu quả với các trường Đại học uy tín và đẳng cấp trên thế giới.
        </p>
        <img src="~/Models/co-so-1-truong-dai-hoc-nguyen-trai-7290.jpg" class="school-image"/>
    </div>
</body>
</html>


