@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Tạ Đình Thành Doanh - K22CNT2</h1>
        <p class="lead">Kiểm tra</p>
    </section>
</main>